.projects-page {
  .header-backdrop {
    width: 100%;
    padding: 5rem 0;
    z-index: 0;
    justify-content: space-around;
    background-image: url("https://wallpaperaccess.com/full/1930779.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .card {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background: #454652;
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    transition: all 0.6s ease-in-out;

    @media screen and (max-width: 800px) {
      width: 90%;
      margin: 2.4rem 0;
    }

    &:hover {
      background: #26272e;
    }

    img {
      width: 100%;
      margin: auto;
      border-radius: 6px;
      z-index: 999;
      transition: all 0.8s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    h1 {
      font-size: 3rem;
      margin: 2rem 0 1rem 0;
    }
    h2 {
      font-size: 1.5rem;
      color: #afe4ff;
      font-weight: 900;
      margin: 0;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .header-zone {
    width: 100%;
    align-items: center;
    text-align: center;

    h2 {
      text-align: center;
      margin: 0;
      justify-self: center;
      position: relative;
    }

    h5 {
      text-align: center;
      letter-spacing: 0px;
      margin: 0;
      color: #8dff54;
      justify-self: center;
      font-size: 2em;
      position: relative;
    }
  }

  .container {
    .project-overview {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding: 3rem 0;
      color: #fff;
      width: 45%;
      position: relative;
      z-index: 9999;
      font-size: 1.9rem;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
