.soundcloud-ui {
  height: auto;
  padding: 0px;
  color: #000;
  background: #ffcd77;

  .button-link {
    color: #ff4400;
    border: 1px solid #ff4400;

    &:hover {
      color: white;
    }
  }
  .button-link::after {
    background: #ff3b3b;
  }

  .header-zone {
    width: 100%;
    margin: 0 0 1rem 0;
    text-align: center;

    h1 {
      margin-bottom: 2px;
    }
    h2 {
      font-size: 2.2rem;
      letter-spacing: 0px;
    }
  }
}
