.no-page-found {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #111213;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 4rem;
    text-align: center;
  }

  img {
    width: 540px;
    height: auto;
    object-fit: cover;
  }
}
