.page {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.hide {
  display: none;
}

.shrink {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(0.9);
  }
}

.grow {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.slidepop-left {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translateX(+100px);
  }
}

.slidepop-right {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translateX(-100px);
  }
}

.container {
  width: 100%;
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1.5s forwards;
  animation-delay: 1s;
}

.home-page,
.about-page,
.contact-page,
.project1-page,
.project2-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;


  .text-zone {
    position: relative;
    text-align: right;
    padding: 35px 10px;
    width: 90%;
    max-height: 90%;

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    h1 {
      font-size: 53px;
      cursor: pointer;
      font-family: 'Coolvetica';
      color: #fff;
      font-weight: 400;
      margin-top: 0;
      position: relative;

      @media screen and (max-width: 768px) {
        font-size: 33px;
        cursor: pointer;
        font-family: 'Coolvetica';
        color: #fff;
        font-weight: 400;
        margin-top: 0;
        position: relative;
      }
    }

    h2 {
      font-size: 16px;
      cursor: pointer;
      font-family: 'Coolvetica';
      color: #fff;
      margin-top: 0px;
      position: relative;

      @media screen and (max-width: 768px) {
        font-size: 12px;
        cursor: pointer;
        font-family: 'Coolvetica';
        color: #fff;
        margin-top: 0px;
        position: relative;
      }
    }

    .myImage {
      width: 150px;
      height: auto;
      position: relative;
      border-radius: 50%;

      @media screen and (max-width: 768px) {
        width: 90px;
        height: auto;
        position: relative;
        border-radius: 50%;
      }
    }

    p {
      font-size: 16px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 400;
      min-width: fit-content;
      left: 20px;
      animation: pulse 1s 1s;
      animation-fill-mode: forwards;

      span.hover-link {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 400;
        min-width: fit-content;

        &:hover {
          color: #3cefff;
        }
      }

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 1.4s;
      }
    }
  }
}
