$width: 150px;
$height: 150px;
$color-inline: #00000092;
$color-outline: #7f7f7f80;

@mixin flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @content;
}

.page {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.hide {
  display: none;
}

.highlight {
  color: #000000;
  font-weight: 500;
}

.shrink {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(0.9);
  }
}

.grow {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.slidepop-up {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translateY(-220px);
  }
}

.slidepop-left {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translateX(+50px);
  }
}

.slidepop-right {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: translateX(-50px);
  }
}

.to-top {
  position: fixed;
  z-index: 9999999;
  color: #00000067;
  font-size: 3rem;
  bottom: 5%;
  right: 5%;

  &:hover {
    color: #000000;
    animation-duration: 1.2s;
  }
}

.container {
  width: 100%;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem 0;
  flex-direction: row;
  justify-content: space-around;
  transform-style: preserve-3d;
  animation: fadeIn 1.5s forwards;
  animation-delay: 1s;

  @media screen and (max-width: 850px) {
    display: flex;
    flex-direction: column;
  }
}


.home-page,
.about-page,
.contact-page,
.featured-page,
.projects-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;

  .text-zone {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: auto;

    .title {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 5rem 0;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    h1 {
      font-size: 5rem;
      cursor: pointer;
      font-family: "Coolvetica";
      color: #000;
      font-weight: 400;
      margin: 0;
      position: relative;
    }

    h2 {
      font-size: 1.4rem;
      color: #000;
      position: relative;
      color: #000;
      cursor: pointer;
      text-align: center;
      margin: 0;
      font-weight: 100;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1.4s 2s backwards;
    }

    p {
      font-size: 16px;
      color: #000;
      font-family: sans-serif;
      font-weight: 400;
      min-width: fit-content;
      left: 20px;
      animation: pulse 1s 1s;
      animation-fill-mode: forwards;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 1.4s;
      }
      &:nth-of-type(5) {
        animation-delay: 1.5s;
      }
      &:nth-of-type(6) {
        animation-delay: 1.6s;
      }
      &:nth-of-type(7) {
        animation-delay: 1.7s;
      }
    }

    .hover-link {
      text-decoration: none;
      font-size: 1.8rem;
      color: #000;
      font-family: sans-serif;
      font-weight: 400;
      min-width: fit-content;

      &:hover {
        color: #000;
      }
    }
  }

  .cube-container {
    perspective: 1000px;
    position: relative;
    text-align: center;
    z-index: 99;
    @include flex;

    @media screen and (max-width: 768px) {
      position: inherit;
      margin: 0px;
      display: flex;
      flex-direction: row;
    }

    .header {
      position: relative;
      color: #5f4333;
    }

    .backendcube {
      margin: 500px;
    }

    .frontendcube,
    .backendcube {
      transition: transform 2s ease-in;
      transform-style: preserve-3d;
      width: $width;
      height: $height;

      &.cube1 {
        animation: horizontal-spin 7s infinite linear;
        margin: 4rem;
      }
      &.cube2 {
        animation: horizontal-spin 7s infinite linear;
        animation-direction: reverse;
        margin: 4rem;
      }

      .box {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        position: absolute;
        color: white;
        background: $color-inline;
        border: 1px solid $color-outline;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-family: "Roboto", sans-serif;
        font-size: 80px;
        font-weight: 500;
        @include flex;

        &.face1 {
          transform: translateZ(75px);
        }
        &.face2 {
          transform: translateZ(-75px) rotateY(180deg);
        }
        &.face3 {
          transform: rotateX(-90deg) translateY(-75px);
          transform-origin: top center;
        }
        &.face4 {
          transform: rotateX(90deg) translateY(75px);
          transform-origin: bottom center;
        }
        &.face5 {
          transform: rotateY(270deg) translateX(-75px);
          transform-origin: center left;
        }
        &.face6 {
          transform: rotateY(-270deg) translateX(75px);
          transform-origin: top right;
        }
      }
    }
  }

  @keyframes horizontal-spin {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes vertical-spin {
    from {
      transform: rotateX(0);
    }
    to {
      transform: rotateX(360deg);
    }
  }
}
