.home-page {
  .text-zone {
    position: relative;
    text-align: center;
    height: 100%;
    width: 50%;

    .myImage {
      width: 200px;
      height: auto;
      position: relative;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #3cefff;

      @media screen and (max-width: 800px) {
        width: 150px;
      }
    }
  }

  h1.introduction {
    color: #fff;
    cursor: pointer;
    font-size: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;
    text-align: center;

    @media screen and (max-width: 800px) {
      color: #fff;
      cursor: pointer;
      font-size: 28px;
      margin: 0;
      font-family: "Coolvetica";
      font-weight: 400;
      text-align: center;
    }
  }

  h2 {
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1.4s 2s backwards;
  }

  .flat-button {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #fff;
    border-radius: 8px;
    animation: fadeIn 1.4s 2.2s backwards;
    white-space: nowrap;

    &:hover {
      color: #000;
      border: 1px solid #3cefff;
      background-color: #3cefff;
      transition-duration: 1s;
    }
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .project1,
    .project2 {
      position: relative;
      width: 250px;
      height: auto;
      z-index: 999;
    }

    .card {
      background: #1b1d28;
      color: #d485ca;
      position: relative;
      bottom: 60px;
      width: 50%;
      cursor: pointer;
      height: auto;
      font-size: 1.2em;
      border-radius: 1rem;
      padding: 0 2rem;
      transition: all 0.2s ease-in-out;

      h1 {
        font-size: 2rem;
      }
    }

    &:hover {
      .card {
        transform: translateY(60px);
      }
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
    @media screen and (max-width: 1200px) {
      width: 150px;
    }
  }
}
