.home-page {
  .text-zone {
    position: relative;
    text-align: center;
    height: 100%;
    width: 50%;

    .myImage {
      width: 200px;
      height: auto;
      position: relative;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #3cefff;

      @media screen and (max-width: 800px) {
        width: 150px;
      }
    }
  }

  h1.introduction {
    color: #fff;
    cursor: pointer;
    font-size: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;
    text-align: center;

    @media screen and (max-width: 800px) {
      color: #fff;
      cursor: pointer;
      font-size: 28px;
      margin: 0;
      font-family: "Coolvetica";
      font-weight: 400;
      text-align: center;
    }
  }

  h2 {
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #fff;
    border-radius: 8px;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      color: #000;
      border: 1px solid #3cefff;
      background-color: #3cefff;
      transition-duration: 1s;
    }
  }

  .project1 {
    position: absolute;
    width: 250px;
    height: auto;
    left: 10px;

    @media screen and (max-width: 800px) {
      position: absolute;
      width: 80px;
      height: auto;
      top: 20px;
      left: -50px;
    }
  }

  .project2 {
    position: absolute;
    width: 250px;
    height: auto;
    right: 10px;

    @media screen and (max-width: 800px) {
      position: absolute;
      width: 80px;
      height: auto;
      top: 200px;
      left: -50px;
    }
  }
}
