$width: 150px;
$height: 150px;
$color-inline: #00000092;
$color-outline: #7f7f7f80;

@mixin flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @content;
}

.home-page {
  align-items: center;
  justify-content: space-around;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/473/410/441/cyberpunk-cyber-dark-cyberpunk-movies-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  .header-zone {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: auto;

    h1 {
      font-size: 8rem;
      @media screen and (max-width: 800px) {
        font-size: 6rem;
      }
    }
    h2 {
      font-size: 2rem;
      @media screen and (max-width: 800px) {
        font-size: 1.4rem;
      }
    }
  }

  .cube-container {
    perspective: 1000px;
    position: relative;
    text-align: center;
    z-index: 99;
    @include flex;

    @media screen and (max-width: 768px) {
      position: inherit;
      margin: 0px;
      display: flex;
      flex-direction: row;
    }

    .header {
      position: relative;
      color: #5f4333;
    }

    .backendcube {
      margin: 500px;
    }

    .frontendcube,
    .backendcube {
      transition: transform 2s ease-in;
      transform-style: preserve-3d;
      width: $width;
      height: $height;

      &.cube1 {
        animation: horizontal-spin 7s infinite linear;
        margin: 4rem;
      }
      &.cube2 {
        animation: horizontal-spin 7s infinite linear;
        animation-direction: reverse;
        margin: 4rem;
      }

      .box {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        position: absolute;
        color: white;
        background: $color-inline;
        border: 1px solid $color-outline;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-family: "Roboto", sans-serif;
        font-size: 80px;
        font-weight: 500;
        @include flex;

        &.face1 {
          transform: translateZ(75px);
        }
        &.face2 {
          transform: translateZ(-75px) rotateY(180deg);
        }
        &.face3 {
          transform: rotateX(-90deg) translateY(-75px);
          transform-origin: top center;
        }
        &.face4 {
          transform: rotateX(90deg) translateY(75px);
          transform-origin: bottom center;
        }
        &.face5 {
          transform: rotateY(270deg) translateX(-75px);
          transform-origin: center left;
        }
        &.face6 {
          transform: rotateY(-270deg) translateX(75px);
          transform-origin: top right;
        }
      }
    }
  }

  @keyframes horizontal-spin {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes vertical-spin {
    from {
      transform: rotateX(0);
    }
    to {
      transform: rotateX(360deg);
    }
  }
}

.about-page {
  z-index: 9;
  width: 100%;
  height: auto;
  display: flex;
  padding: 4rem 0;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  position: relative;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box {
    display: flex;
    width: 45%;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
      width: 80%;
    }

    h2 {
      font-size: 2.5rem;
    }

    .profile-img {
      width: 300px;
      margin-bottom: 24px;
      border-radius: 50%;
      border: 1px solid #fff;

      @media screen and (max-width: 800px) {
        width: 200px;
      }
    }

    .goals {
      flex-direction: column;
      width: 90%;

      i {
        font-size: 1.7rem;
        font-weight: 300;
        text-align: center;
      }

      @media screen and (max-width: 800px) {
        flex-direction: column;
        position: relative;
        left: 0%;
        width: 100%;
        display: flex;
      }
    }

    .education {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      font-size: 1.9rem;

      @media screen and (max-width: 800px) {
        width: 100%;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
      }

      h1 {
        font-size: 1.8rem;
        color: #fff;
        text-align: left;
        font-weight: 600;
        margin: 0px;
      }

      h2 {
        font-size: 1.5rem;
        color: #afe4ff;
        text-align: left;
        font-weight: 500;
        margin: 0px;
      }

      p {
        font-size: 1.8rem;
        color: #fff;
        text-align: left;
        font-weight: 500;
        margin: 1rem 0;
      }
    }
  }

  .overview-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: #fff;
    width: 45%;
    z-index: 9999;
    font-size: 1.9rem;

    .message {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      p {
        text-align: left;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      padding: 1rem 0;
      position: relative;
      width: 90%;
      top: 0%;
      left: 0%;

      .message {
        width: 100%;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
      }
    }
  }

  ul.ui-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    font-size: 1.4rem;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      width: fit-content;
      margin: 1rem;
      padding: 1.5rem;
      color: #fff;
      border: 1px solid #000;
      border-radius: 100px;
      background: #384a537f;
    }

    svg {
      margin: 0 0.5rem;
    }
  }

  .border-list {
    border-left: 5px solid #afe4ff;
    padding-left: 4rem;
    margin: 2rem 0;
  }

  .header-zone {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
