.to-top {
  position: fixed;
  z-index: 9999999;
  color: #ffffff42;
  font-size: 5rem;
  bottom: 1%;
  right: 1%;
  transition-duration: 0.4s;

  &:hover {
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {
    bottom: 2%;
    right: 2%;
    font-size: 3.2rem;
  }
}
