.to-top {
  position: fixed;
  z-index: 9999999;
  color: #00000067;
  font-size: 3rem;
  bottom: 5%;
  right: 5%;

  &:hover {
    color: #000000;
    animation-duration: 1.2s;
  }

  @media screen and (max-width: 768px) {
    bottom: 10%;
    right: 10%;
  }
}
