.nav {
  background: #000000c5;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: all 0.8s ease;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px 0 24px;
    max-width: 1200px;
    position: relative;
    z-index: 999;

    .to-section {
      color: #fff;
      justify-self: center;
      cursor: pointer;
      font-size: 1.5rem;
      position: relative;
      display: flex;
      align-items: center;
      font-family: 'Coolvetica';
      letter-spacing: 3px;
      text-decoration: none;
      text-transform: uppercase;

      &.active, &:hover {
        border-bottom: 3px solid #3cefff;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }

    .home-link {
      color: #fff;
      justify-self: flex-start;
      cursor: pointer;
      font-size: 3rem;
      position: relative;
      display: flex;
      align-items: center;
      font-family: 'Coolvetica';
      letter-spacing: 3px;
      text-decoration: none;
      text-transform: uppercase;
      
      &:hover {
        font-size: 3rem;
        color: #3cefff;
        transition: all 0.2s;
      }

      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
      }
    }
  }
}

.shrink {
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #3cefff;
    letter-spacing: 1px;
    transform: scale(0.95);
  }
}
