.nav {
  background: #000000c5;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;

  @media screen and (max-width: 960px) {
    transition: all 0.8s ease;
    z-index: 9999;
  }

  .home-icon {
    display: none;

    @media screen and (max-width: 768px) {
      color: #fff;
      justify-self: flex-start;
      cursor: pointer;
      margin: 0 2rem;
      font-size: 2.5rem;
      position: relative;
      display: flex;
      align-items: center;
      font-family: "Coolvetica";
      letter-spacing: 3px;
      text-decoration: none;
    }
  }

  .home-text {
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    font-family: "Coolvetica";
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .navbar-container {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
    padding: 0 24px 0 24px;
    max-width: 1200px;
    position: relative;
    z-index: 9999999;

    @media screen and (max-width: 768px) {
      padding: 0;
      z-index: 9999999;
    }

    .to-section {
      color: #fff;
      justify-self: center;
      cursor: pointer;
      font-size: 1.5rem;
      position: relative;
      margin: 0 3rem;
      display: flex;
      align-items: center;
      font-family: "Coolvetica";
      letter-spacing: 3px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        border-bottom: 3px solid #3cefff;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.shrink {
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #3cefff;
    letter-spacing: 1px;
    transform: scale(0.95);
  }
}
