.nav {
  background: #000000c5;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: all 0.8s ease;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
    position: relative;
    z-index: 999;

    .to-top {
      color: #fff;
      cursor: pointer;
      font-size: 3rem;
      position: fixed;
      bottom: 2%;
      right: 2%;

      font-family: 'Coolvetica';
      margin-left: 18px;
      letter-spacing: 3px;
      text-decoration: none;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .home-link {
      color: #fff;
      justify-self: flex-start;
      cursor: pointer;
      font-size: 3.2rem;
      position: relative;
      display: flex;
      align-items: center;
      font-family: 'Coolvetica';
      letter-spacing: 3px;
      text-decoration: none;
      text-transform: uppercase;
      
      &:hover {
        font-size: 3rem;
        color: #3cefff;
        transition: all 0.2s;
      }
    }

    .mobile-icon {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 2.2rem;
        cursor: pointer;
      }
    }

    .nav-menu {
      display: flex;
      align-items: center;
      list-style: none;
      text-align: center;
      margin-right: -22px;

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
        margin-right: -22px;

        li.nav-item {
          height: 80px;

          a.nav-links {
            color: #fff;
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 0 1rem;
            height: 100%;
            font-size: 1.5rem;
            cursor: pointer;
            font-family: 'Coolvetica';
            letter-spacing: 3px;
            text-transform: uppercase;

            &.active, &:hover {
              border-bottom: 3px solid #3cefff;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.shrink {
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #3cefff;
    letter-spacing: 1px;
    transform: scale(0.95);
  }
}
