footer {
  background-color: #1b1612;
  display: flex;
  border-top: 1px solid #ddc1a7;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: auto;
  font-size: 1.3rem;
  padding: 8px;

  .footer-link-container {
    
    .footer-link {
      font-size: 2rem;
      align-items: flex-end;
      color: #fff;
      padding: 0 1rem;
      transition: all 0.5s linear;

      &:hover {
        color: #8d8d8d;
      }
    }
  }
}
