footer {
  background-color: #000;
  display: flex;
  border-top: 1px solid #bdebff;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: auto;
  font-size: 1.3rem;
  padding: 8px;

  .footer-link-container {
    
    .footer-link {
      font-size: 2rem;
      align-items: flex-end;
      color: #fff;
      padding: 0 1rem;

      &:hover {
        color: aqua;
      }
    }
  }
}
